{% extends "page.html" %}

{% block content %}

<!-- header part: original bootstrap pages content block -->
<section id="content" class="body">
    {% if page.title %}
        <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}
        <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
            get the pdf
        </a>
    {% endif %}
    <div class="entry-content">
        {{ page.content }}

<!-- add header navbar -->
{% if PUBLICATIONS_NAVBAR %}
    <div id="nav-btns" class="second-nav" markdown="1">
      {% for bib in publications|sort %}
        <a class="btn btn-default btn-sm noline spaced" href="#{{ bib }}">{{ publications[bib]['title'] }}</a>
      {% endfor %}
    </div>
{% endif %}


<!-- add introduction text -->
<div class="row">
  <div class="col-xs-12">
    <p>Patrick has authored {{ yaml.meta.metrics['papers'] }} peer-reviewed scientific papers with more than {{ yaml.meta.metrics['collaborators'] }} co-authors, including {{ yaml.meta.metrics['journals'] }} journal articles, {{ yaml.meta.metrics['conferences'] }} conference and {{ yaml.meta.metrics['workshops'] }} workshop contributions. According to <a href="https://scholar.google.co.uk/citations?user={{ yaml.meta['scholar'] }}">Google Scholar</a> ({{ yaml.meta.metrics['updated'] }}), his work has been cited {{ yaml.meta.metrics['citations'] }} times (h-index: {{ yaml.meta.metrics['hindex'] }}).</p>
  </div>
</div>

<!-- add publication list -->

{% for bib in publications|sort %}
    <div class="var-margin" id="{{ bib }}"></div>
    <div class="publications">
      <!-- add header if enabled -->
      {% if publications[bib]['header'] %}
        <h2 class="extendable-section" id="{{ publications[bib]['title']|clean }}">
          <a class="noline" data-toggle="collapse" href="#{{ publications[bib]['title']|clean }}-list" aria-expanded="true" aria-controls="{{ publications[bib]['title']|clean }}-list">
            {{ publications[bib]['title'] }}
          </a>
        </h2>
        <hr>
      {% endif %}

        <!-- add list of papers -->
        <div id="{{ publications[bib]['title']|clean }}-list" class="collapse in">
        {% if publications[bib]['split'] %}
          {% set remember = namespace(year="0", ws=None) %}
          {% for key, type, year, text, tags, display_tags, supplements, bibtex, pdf, slides, poster, doi, url in publications[bib]['data'] %}

            <!-- insert header (year) and remaining items (ws) -->
            {% if remember.year != year %}
              {% if remember.year !="0" %}
                {% if remember.ws %}
                  {% set remember.ws=remember.ws + "</div>" %}
                  {{ remember.ws }}
                  {% set remember.ws=None %}
                {% endif %}
                </ul>
              {% endif %}
              <div class="label-nav" markdown="1">
              <h3 class="extendable-section" id="{{ year|clean }}">
                <a class="noline" data-toggle="collapse" href="#{{ year|clean }}-list" aria-expanded="true" aria-controls="{{ year|clean }}-list">
                  {{ year|title }}
                </a>
              </h3>
              </div>
              <ul id="{{ year|clean }}-list" class="collapse in">
              {% set remember.year=year %}
            {% endif %}

            <!-- insert publication entry -->
            {% if url or doi or year|lower == "in press" or (year|lower == "under review" and "preprint" in tags) %}
              {% include 'includes/publication-entry.html' %}

            <!-- otherwise generate short (ws) entry for later insertion (see above) -->
            {% else %}

              <!-- initialise ws if empty -->
              {% if not remember.ws %}
                {% set remember.ws=
                  "<div data-toggle=\"collapse\" data-target=\"#ws" +
                  year|clean +
                  "\"><a>Further (not indexed)</a></div><div style=\"clear:both\" id=\"ws" +
                  year|clean +
                  "\" class=\"collapse\">"
                %}
                {% if url %}
                  {% set remember.ws = remember.ws + "<a class='btn btn-xs btn-success' href=\"" + url + "\">Publication</a>" %}
                {% endif %}
              {% endif %}

              <!-- add paper to ws -->
              {% set remember.ws = remember.ws +
                  "<li><div class='breaklinks'>" +
                  text +
                  "</div></li>"
              %}

              <!-- add buttons to ws -->
              {% for label, target in [('Preprint', pdf), ('Slides', slides), ('Poster', poster)] %}
                {% if target %}
                  {% set remember.ws = remember.ws +
                      "<a class='btn btn-xs btn-info'
                          href=\"" + target + "\">" +
                          label +
                      "</a>"
                  %}
                {% endif %}
              {% endfor %}

              <!-- add bibtex to ws -->
              {% set bibtex = '```tex\n' + bibtex + '\n```' %}
              {% set remember.ws = remember.ws +
                "<a class=\"btn btn-xs btn-default\"
                    data-toggle=\"collapse\"
                    data-target=\"#" +  key + "-bib\"><i class='fa fa-expand'></i>&nbsp;BibTeX</a>
                <div style=\"clear:both\" id=\"" + key + "-bib\" class=\"collapse\">" +
                bibtex|md +
                "</div>"
              %}
            {% endif %}
          {% endfor %}
          </ul>
        {% else %}
          <ul>
            {% for key, type, year, text, tags, display_tags, supplements, bibtex, pdf, slides, poster, doi, url in publications[bib]['data'] %}
              {% include 'includes/publication-entry.html' %}
            {% endfor %}
          </ul>
        {% endif %}
        </div>
    </div>
{% endfor %}

<!-- footer part: original bootstrap pages content block -->
        {% if page.comments == 'enabled' %}
            {% include 'includes/comments.html' %}
        {% endif %}
    </div>
</section>

{% endblock %}
